name: Pull Request
on: [pull_request]
jobs:
  statix-analysis:
runs-on: sfdc-ubuntu
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

