name: Pull Request
#on: [pull_request]
on:
  push:
    branches:
      - 'setup-actions'
jobs:
  static-analysis:
    runs-on: sfdc-ubuntu
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          #ref: ${{ github.event.pull_request.head.sha }}
          ref: ${{ github.event.push.ref }}
          fetch-depth: 0

