name: Pull Request
#on: [pull_request]
on:
  push:
    branches:
      - 'setup-actions'
jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          #ref: ${{ github.event.pull_request.head.sha }}
          ref: ${{ github.event.push.ref }}
          fetch-depth: 0
      - name: Install SFDX
        run: |
          npm install @salesforce/cli --global
          sf --version
      - name: Install Salesforce Code Analyzer 
        run: |
          sf plugins install @salesforce/sfdx-scanner
      - name: Run Salesforce Code Analyzer 
        run: |
          sf scanner run --target ".\**\*.cls" 
          


